<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1</title>
    <style>
        /* Stil global pentru intregul corp al paginii */
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            {% if first_search %}
                /* Stilizare imagine de fundal pentru prima cautare */
                background-image: url('https://www.wired.com/wp-content/uploads/2017/05/vERpy5Sedit2.gif');
                background-size: cover;
            {% endif %}
        }

        /* Stilizare formular de cautare */
        form {
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 20px auto;
            padding: 20px;
            max-width: 400px;
        }

        label,
        input,
        select,
        button {
            display: block;
            margin: 10px 0;
            width: 100%;
            box-sizing: border-box;
        }

        button {
            padding: 10px;
            background-color: #ff0000;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        /* Stilizare lista */
        ul {
            list-style-type: none;
            padding: 0;
            margin: 20px;
        }

        /* Stilizare element lista */
        li {
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            padding: 15px;
        }

        img {
            height: auto;
            border-radius: 8px;
            margin-bottom: 10px;
        }

        p {
            margin: 0;
            line-height: 1.5;
        }

        p:first-child {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <!-- Formular pentru cautare -->
    <form method="post">
        <!-- Eticheta pentru alegerea categoriei -->
        <label for="info_type">Choose category:</label>
        <!-- Lista de selectie pentru alegerea categoriei -->
        <select name="info_type" id="info_type" required>
            <option value="drivers">Drivers</option>
            <option value="teams">Teams</option>
            <option value="teams_rankings">Teams rankings</option>
            <option value="drivers_rankings">Drivers rankings</option>
        </select>
        <!-- Eticheta pentru cautare -->
        <label for="search_query">Search for:</label>
        <!-- Camp de introducere text pentru cautare -->
        <input type="text" name="search_query" id="search_query" required>
        <!-- Buton de trimitere a formularului -->
        <button type="submit">Search</button>
    </form>
    <!-- Afisare informatii daca exista -->
    {% if info_data %}
        <!-- Lista pentru a afisa informatiile -->
        <ul>
            <!-- Iterare prin informatii si afisarea lor sub forma de liste -->
            {% for item in info_data %}
                <li>
                    <!-- Afisare detalii in functie de categoria aleasa -->
                    {% if info_type == "drivers" %}
                        <img src="{{ item['image'] }}" alt="{{ item['name'] }} Image" style="max-width: 300px;">
                        <p>Number: {{ item['number'] }}</p>
                        <p>Name: {{ item['name'] }}</p>
                        <p>Nationality: {{ item['nationality'] }}</p>
                        <p>Country: {{ item['country'] }}</p>
                        <p>Birthdate: {{ item['birthdate'] }}</p>
                        <p>Birthplace: {{ item['birthplace'] }}</p>
                        <p>Grands prix entered: {{ item['grands_prix_entered'] }}</p>
                        <p>World championships: {{ item['world_championships'] }}</p>
                        <p>Podiums: {{ item['podiums'] }}</p>
                        <p>Highest grid position: {{ item['highest_grid_position'] }}</p>
                        <p>Career points: {{ item['career_points'] }}</p>
                    {% elif info_type == "teams" %}
                        <img src="{{ item['logo'] }}" alt="{{ item['name'] }} Logo" style="max-width: 300px;">
                        <p>Name: {{ item['name'] }}</p>
                        <p>Base: {{ item['base'] }}</p>
                        <p>First team entry: {{ item['first_team_entry'] }}</p>
                        <p>World championships: {{ item['world_championships'] }}</p>
                        <p>Pole positions: {{ item['pole_positions'] }}</p>
                        <p>Fastest laps: {{ item['fastest_laps'] }}</p>
                        <p>President: {{ item['president'] }}</p>
                        <p>Chassis: {{ item['chassis'] }}</p>
                        <p>Engine: {{ item['engine'] }}</p>
                    {% elif info_type == "teams_rankings" %}
                        <p>Position: {{ item['position'] }}</p>
                        <img src="{{ item['team']['logo'] }}" alt="{{ item['team']['name'] }} Logo" style="max-width: 200px;">
                        <p>Team: {{ item['team']['name'] }}</p>
                        <p>Points: {{ item['points'] }}</p>
                    {% elif info_type == "drivers_rankings" %}
                        <p>Position: {{ item['position'] }}</p>
                        <img src="{{ item['driver']['image'] }}" alt="{{ item['driver']['name'] }} Image" style="max-width: 200px;">
                        <p>Driver: {{ item['driver']['name'] }}</p>
                        <p>Number: {{ item['driver']['number'] }}</p>
                        <p>Team: {{ item['team']['name'] }}</p>
                        <p>Points: {{ item['points'] }}</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% elif not first_search %}
        <p>No {% if info_type == "drivers" %}driver{% elif info_type == "teams" %}team{% elif info_type == "teams_rankings" %}teams ranking{% else %}drivers ranking{% endif %} info found.</p>

    {% endif %}
</body>
</html>